.resimSlider{height: 600px;

}
body{
    font-family: 'Raleway',sans-serif;

}
.hakkimizda,.galeri{background-color: #f2f2f2;

}
.ayrac{ border:none ;
    border-top:3px solid black;
    max-width: 250px;
    margin: auto;

}
.ibeyaz{  color: black;
    position: relative;
    top:-40px;
    font-size: 45px;
    border:10px solid white;
    background-color:white;

}
.igri{  color: black;
    position: relative;
    top:-40px;
    font-size: 45px;
    border:10px solid #f2f2f2;
    background-color: #f2f2f2;}

.ekipCard>img:hover{opacity: 0.8;

}
.figüre>img:hover{opacity: 0.8;

}
